.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;
    background-color: #ffffff;
    padding: 50px;
    z-index: 1000;
    padding-left: 60px;
    padding-right: 60px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form input {
    font-size: 1.2rem;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    border: none;
    outline: none;
    padding: .2rem .8rem;
    background-color: rgba(0, 0, 0, 0.2);
    color: #5c5c5c;
    transition: 0.2s;
    max-height: 2.5rem;
    height: 2.5rem;
}

.form input:focus {
    background-color: rgba(0, 0, 0, 0.1);
    color: #000000;
}

.form label {
    font-size: .8rem;
    font-weight: bold;
}

.form img {
    max-height: 150px;
    width: auto;
    padding: 5px;
    object-fit: contain;
}

.form_imageInput {
    display: flex;
    justify-content: space-between;
}

.form_imageInput input {
    max-width: 75%;
}

.form button {
    cursor: pointer;
    height: 3em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 3em;
    margin-right: 3em;
    border: none;
    background-color: rgba(0, 255, 0, 0.4);
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 7px 7px 10px 0px rgba(0, 59, 13, 0.76);
    -webkit-box-shadow: 7px 7px 10px 0px rgba(0, 59, 13, 0.76);
    -moz-box-shadow: 7px 7px 10px 0px rgba(0, 59, 13, 0.76);
}

.modal_closeButton {
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 2%;
    background-color: rgba(255, 0, 0, 0.7);
    border: none;
    border-bottom-left-radius: 5px;
}

.errorMsg {
    color: #cc0000;
    font-size: smaller;
}

@media (max-width: 768px) {
    .form img {
        max-height: 100px;
        width: auto;
        padding: 5px;
    }
    .form_imageInput {
        display: flex;
        flex-direction: column;
    }
    .form_imageInput input {
        max-width: 100%;
    }
    .form button {
        margin-left: 0;
        margin-right: 0;
    }
}